<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="QPM_ConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=qpfdbc01.generali.it)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=QPCC1)));User Id=qpm_qpm;Password=qpm;" />
    <!--<add key="QPM_ConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=D3SQMLTV01.corp.generali.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CASTTMP)));User Id=qpm_qpm;Password=qpm;" />-->
    <add key="QPM_URL" value="http://localhost/QPM" />
    <add key="CAST_AED_URL" value="http://10.180.73.185:8380/CAST-AED" />

    <add key="CAST_OutputPath" value="M:\Flussi\Scambio\qpm\FromCast" />
    <add key="CAST_QC_SaveDebugFiles" value="yes" />
    <add key="CAST_QC_SkipSnapshot" value="yes" />
    <!--<add key="CAST_OutputPath" value="D:\Customers\Generali\CASTService\Test" />-->
    <add key="CAST_LogPath" value="D:\Customers\Generali\CASTService\Log" />
    <add key="CASTAIP_7.X_Path" value="C:\Program Files (x86)\CAST\7.0.11" />
    <add key="CASTAIP_Log" value="C:\CastWork\CastLog" />
    <add key="CASTAIP_Src" value="G:\AnaSrc\Link" />
    <add key="CASTAIP_BaselineSrc" value="G:\AnaSrc\Baseline" />
    <add key="CASTAIP_DataServer" value="orcl" />
    <!--<add key="VBS" value="bla"/>-->
    <!--<add key="SrcRoot" value="\\D3QPCCFAN01\D\Src" />-->
    <add key="SrcRoot" value="\\alew7lap\CASTService\Src" />
    <add key="SrcDiskMap" value="G" />
    <add key="LinkRoot" value="\\alew7lap\CASTService\Src" />
    <add key="LinkDiskMap" value="G" />
    <add key="DestRoot" value="\\alew7lap\CASTService\Out" />
    <add key="DestDiskMap" value="N" />
    <add key="StorageRoot" value="\\alew7lap\CASTService\Out" />
    <add key="StorageDiskMap" value="M" />
    <add key="DeliveryRoot" value="\\corp.generali.net\FSNASCIFS\NAS_QPM_PROD\Cast_Delivery" />
    <add key="DeliveryDiskMap" value="R" />
    <add key="DeployRoot" value="\\corp.generali.net\FSNASCIFS\NAS_QPM_PROD\Cast_Deploy" />
    <add key="DeployDiskMap" value="Q" />

    <add key="DeliveryRootQC" value="\\corp.generali.net\FSNASCIFS\NAS_QPM_PROD\Cast_Delivery_QC" />
    <add key="DeliveryDiskMapQC" value="V" />
    <add key="DeployRootQC" value="\\corp.generali.net\FSNASCIFS\NAS_QPM_PROD\Cast_Deploy_QC" />
    <add key="DeployDiskMapQC" value="Z" />     
    
    <add key="QPM_User" value="CASTCORP\ALE" />
    <add key="QPM_Pw" value="alberto.15" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="CAST.CASTService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/CAST/Service" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="CAST.ICASTService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>